* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.container {
  width: 70rem;
  margin: 4rem auto;
  display: flex;
  gap: 2rem;
}

.logo {
  width: 1.6rem;
}
